html {
    font-family: 'Dosis', sans-serif;
    background-color: white;
}

p {
    margin: 0px;
}

/* Title Box */
h1 {
    color: grey;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

#title-container {
    display: flex;
    justify-content: center;
}

#title-contents {
    text-align: center;
    max-width: 600px;
    margin: 30px 50px 10px 50px;
    padding: 10px;
}

/* Steps */
#step-format {
    display: flex;
    justify-content: center;
}

#step-column {
    display: flex;
    flex-direction: column;
}

#step-container { 
    border-color: grey;
    border-radius: 20px;
    border-style: dashed;
    max-width: 700px;
    margin: 10px 10px 10px 20px;
    padding: 10px;
}

#step-title {
    text-align: left;
    color: grey;
}

#step-description {
    text-align: center;
    color: black;
}

/* Choose Color Amount */
#color-amount-containter {
    display: flex;
    justify-content: center;
}

#color-amount-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

/* Palette */
#color-container, 
#color-contents {
    display: flex;
    justify-content: center;
}

#colorpicker {
    margin: 5px 10px 0px 10px;
}

#ball {
    margin: 10px;
    width: 50px;
}

/* Size */
#size-contents {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

/* Randomize Stripe Pattern */
#generate-button-container {
    display: flex;
    justify-content: center;
}

/* Sweater Container */
#yarn-contents {
    display: flex;
    justify-content: center;
}

#sweater-container {
    display: flex;
    justify-content: center;
    margin: 30px; 
}

#sweater-contents {
    display: flex;
    justify-content: center;
}

#sweater {
    width: 80%;
    max-width: 700px;
}

#button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#pattern-container {
    display: flex;
    justify-content: center;
}

#pattern {
    border-color: grey;
    border-radius: 20px;
    border-style: dashed;
    max-width: 555px;
    margin: 10px 10px 10px 20px;
    padding: 10px;
}

#abbreviations {
    margin: 0px 0px 0px 20px;
}

#collar-container {
    display: flex;
    justify-content: center;
}

#collar {
    width: 400px;
}

/* Background */
#gradient {
    position: fixed;
    background-image: linear-gradient(90deg, rgba(0,190,190,1) 0%, rgba(0,190,190,1) 100%);
    margin: -10px;
    height: 100vh;
    width: 100vw;
    z-index: -100;
  }

  #white-format {
      display: flex;
      justify-content: center;
    }

  #whiteBG {
      position: fixed;
      margin: -10px;
      height: 100vh;
      width: 700px;
      background-color: white;
      z-index: -50;
  }

  #stripe {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,155,155,0.35) 25%, transparent 25%, transparent 50%, rgba(0,155,155,0.35) 50%, rgba(0,155,155,0.35) 75%, transparent 75%, transparent 100%), linear-gradient(-45deg, rgba(0,155,155,0.35) 25%, transparent 25%, transparent 50%, rgba(0,155,155,0.35) 50%, rgba(0,155,155,0.35) 75%, transparent 75%, transparent 100%);
    background-size: 5vw 5vw;
  }